<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="NToolboxAndroid.NToolboxAndroid" 
          android:versionCode="3" android:versionName="1.003" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="25" />
	<uses-feature android:name="android.hardware.usb.host" android:required="false" />
	<application android:label="NToolboxAndroid" android:icon="@drawable/ntoolbox_android">
	
	</application>
</manifest>